.alt-mono-font {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,monospace;
}

.d-flex {
  display: flex !important;
}

.flex- {
  &row {
    flex-direction: row !important;
  }
  &column {
    flex-direction: column !important;
  }
  &wrap {
    flex-wrap: wrap !important;
  }
  &items-center {
    align-items: center !important;
  }
  &justify-between {
    justify-content: space-between !important;
  }
}

// font-size
.f {
  &3 {
    font-size: 18px !important;
  }
}

.my- {
  &2 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
  }
  &3 {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
  }
}

// margin-top
.mt- {
  &1 {
    margin-top: 4px !important
  }
}

// margin-bottom
.mb- {
  &3 {
    margin-bottom: 16px !important;
  }
  &4 {
    margin-bottom: 24px !important;
  }
  &6 {
    margin-bottom: 40px!important;
  }
  &8 {
    margin-bottom: 64px !important;
  }
}

// margin-left
.ml- {
  &4 {
    margin-left: 24px !important
  }
}

.py- {
  &3 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  &4 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  &5 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}

.px- {
  &2 {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
  &3 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.pl- {
  &3 {
    padding-left: 16px !important;
  }
  &4 {
    padding-left: 24px !important;
  }
}

.pr- {
  &3 {
    padding-right: 16px !important;
  }
}

// all kinds of container
.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 1012px;
}

.container-xl {
  max-width: 1280px;
}

.container-lg,
.container-md,
.container-xl {
  margin-right: auto;
  margin-left: auto;
}

// text
.text-normal {
  font-weight: 400 !important;
}

// toggle
.burger-menu {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer
}

.burger {
  position: absolute;
  background: #24292e;
  width: 100%;
  height: 3px;
  top: 50%;
  right: 0;
  margin-top: -5px;
  opacity: 1;
  transition: all .2s ease-in-out
}

.burger:before {
  top: 10px
}

.burger:after,
.burger:before {
  border-radius: 2px;
  background: #24292e;
  position: absolute;
  width: 100%;
  height: 3px;
  content: "";
  display: block;
  transition: all .2s ease-in-out
}

.burger:after {
  bottom: 10px
}

.burger-menu.menu-active .burger {
  background: 0 0
}

.burger-menu.menu-active .burger:after,
.burger-menu.menu-active .burger:before {
  transition: all .2s ease-in-out
}

.burger-menu.menu-active .burger:before {
  transition: all .2s ease-in-out;
  transform: rotate(45deg);
  top: 0
}

.burger-menu.menu-active .burger:after {
  transition: all .3s ease-in-out;
  transform: rotate(-45deg);
  bottom: 0
}

.spacer-line {
  height: 1px;
  background: #000;
  margin: 0 12px;
  width: 20px;
}
